

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Show and hide layers</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.2.0/mapbox-gl-directions.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.2.0/mapbox-gl-directions.css" type="text/css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"/>
</head>
<body>
 <div class = "left-container">
    <nav id="menu">
        <a id="dropdownBtn" href="#">Load Route</a>
        <div id="dropdownContent" style="display: none;">
            <a href="#" class="routeOption">Load Cycle Route</a>
            <a href="#" class="routeOption">Load Car Route</a>
            <a href="#" class="routeOption">Load Walking</a>
            <a href="#" class="routeOption">Load Walking+Car</a>
            <a href="#" class="routeOption">Load Walking+Cycling</a>
            <a href="#" class="routeOption">Load Cycling+Car</a>
        </div>

    </nav>
    
    <div class="input-time-container">
        <label for="start-time">Start Time:</label>
        <input type="time" id="start-time" name="start-time">
    </div>

    <button id="showDangerousJunctionsBtn">Show Dangerous Junctions</button>
    <button id="displayRoadsUnderConstructionBtn">Display Roads Under Construction</button>
    <button id="safestRouteBtn" href="#" style="display: none;">Find Safest Route</button>
    <button id="shortestRouteBtn" href="#" style="display: none;">Find Shortest Route</button>
     <button id="refreshBtn" onClick="refreshPage()">Reset Everything</button>
     <div id="colorExplanation" href="#" style="margin-top: 10px; display: none;">
    <span>🟢 - Safest route</span><br>
    <span>🔵 - Fastest route</span><br>
    <span>🔴 - Construction work</span>
     </div>
     <label id="coverageLabel" href="#" style="display: none;">0%</label>
 </div>

 <div class="header">
    <div id="company-name">
        <a href="https://www.distribute.company/">DISTRIBUTE</a>
    </div>
 </div>


<div id="map"></div>



</div>
<script src="{{ url_for('static',filename='script.js') }}"></script>

</body>
</html>
